#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  width: 100%;
}
.heading {
  display: flex;
  justify-content: center;
}
.card-container {
  -webkit-box-shadow: 2px 2px 35px 22px rgba(224, 224, 224, 1);
  -moz-box-shadow: 2px 2px 35px 22px rgba(224, 224, 224, 1);
  box-shadow: 2px 2px 35px 22px rgba(224, 224, 224, 1);
  margin: 0 auto;
}
.login {
  width: 500px;
  height: 400px;
}

.sign-up {
  width: 500px;
}
.add-edit-patient {
  width: 650px;
}
.view-details {
  width: 700px;
}
.fixed-header,
.fixed-footer {
  width: 100%;
  position: fixed;
  background: #333;
  padding: 10px 0;
  color: #fff;
}
.fixed-header {
  top: 0;
}
.fixed-footer {
  bottom: 0;
}
.container {
  width: 100%;
  margin: 0 auto; /* Center the DIV horizontally */
  display: flex;
  justify-content: flex-end;
}
.container p {
  margin: 50px;
  position: absolute;
  left: 20%;
  font-size: xxx-large;
}
nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
/* 
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
